.notification {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    color: #393939;
    padding: 1em;
    border: 1px solid #393939;
    border-radius: 0.5em;
}

.error {
    color: #FFFFFF;
    font-size: 0.8em;
    background-color: rgb(255, 85, 63, 0.75);
    border-color: rgb(255, 85, 63, 0.75);
    border-radius: 10px;
}

.info {
    color: #ffffff;
    font-size: 0.8em;
    background-color: rgb(255, 126, 2, 0.75);
    border-color: rgb(255, 126, 2, 0.75);
    border-radius: 10px;
}
