.logo {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.logoAccent {
    color: #FF7E02;
}

.logoBlack {
    color: #000000;
}

.logoWhite {
    color: #ffffff;
}
