.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 1em;
    color: #fff;
}

.leftSection {
    display: flex;
    align-items: center;
}

.rightSection {
    display: flex;
    align-items: center;
}

.menuPlaceholder {
    color: #ccc;
    font-size: 1em;
    margin-left: 1em;
}
